.hobbies-title{
    font-size: 1.375rem;
}
.hobbies-details-inside{
    padding-top: 10px;
    ul{
        list-style: none;
        padding: 0;
        li{
            line-height: 35px;
            .hobbies-main{
                font-weight: 500;
            }
        }
    }
}

@media print{
    .hobbies-title{
        margin-top: 10px;
        font-size: 1.17rem;
        font-weight: 600;
    }
    .hobbies-details-inside{
        ul{
            list-style: none;
            padding: 0;
            li{
                line-height: 35px;
                .hobbies-main{
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }
    }
}
