$base-color: #1ABC9C;
$bg-back-color: rgb(242, 242, 242);
$bg-color:#fff;


@import '_app.scss';
@import '_profile.scss';
@import '_contact.scss';
@import '_language.scss';
@import '_development.scss';
@import '_hobbies.scss';
@import '_experience.scss';
@import '_projects.scss';
@import '_education.scss';
@import '_interpersonal.scss';
@import '_certificate.scss';